.button {
	gap: 10px;
	/* height: fit-content; */
	line-height: 1.3;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	border-radius: 8px;
	padding: 10px 20px;
	border: 1px solid;
	white-space: nowrap;
}

.blue {
	border-color: rgb(92, 98, 249);
	background: rgb(92, 98, 249);
	color: white;
}

.blue:hover {
	background: rgb(1, 8, 45);
	border-color: rgb(1, 8, 45);
}

.black {
	border-color: rgb(1, 8, 45);
	background: rgb(1, 8, 45);
	color: white;
}

.black:hover {
	border-color: rgb(92, 98, 249);
	background: rgb(92, 98, 249);
}

.clear {
	background: transparent;
	border-color: rgb(1, 8, 45);
	color: rgb(1, 8, 45);
}

.clear:hover {
	border-color: rgb(92, 98, 249);
	background: rgb(92, 98, 249);
	color: white;
}
