.footer {
	width: 100%;
	max-width: 1480px;
	background: white;
}

.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgb(230, 230, 234);
}
