.footer {
	align-items: center;
	justify-content: center;
	width: 100%;
	background: white;
	padding-bottom: 20px;
	padding-top: 64px;
	display: flex;
	flex-direction: column;
}

/* .footer div {
	display: flex;
} */

.footer-bottom {
	width: 100%;
	max-width: 1480px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgb(230, 230, 234);
	padding-top: 16px;
	gap: 12px;
	line-height: 1.4;
}
