button {
	all: unset;
}

.header-wrapper {
	width: 100%;
	display: flex;
	position: sticky;
	background-color: inherit;
}

.header {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 16px 40px;
}

.a-logo {
	display: flex;
	margin: 0px;
}

.logo {
	cursor: pointer;
}

.coders {
	color: rgb(92, 98, 249);
}

.dropdown-arrow {
	width: 10px;
	height: 6px;
}

.links {
	gap: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	font-weight: 500;
	display: flex;
	align-items: center;
	line-height: 1.4;
	justify-content: space-between;
	font-size: 1rem;
	cursor: pointer;
	color: inherit;
}

.link:hover {
	color: rgb(92, 98, 249);
}

.services {
	padding-right: 10px;
}
