.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 40px;
}

.a-logo {
	display: flex;
	margin: 0px;
}

.logo {
	cursor: pointer;
}

.coders {
	color: rgb(92, 98, 249);
}

.links {
	gap: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

span.link {
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 0.6px;
}

span.link:hover {
	color: rgb(92, 98, 249);
}

.contact-button {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	letter-spacing: 0.6px;
	border-radius: 8px;
	border: 1px solid rgb(92, 98, 249);
	background: rgb(92, 98, 249);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}

.contact-button:hover {
	background: black;
}
