button {
	all: unset;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 40px;
}

.a-logo {
	display: flex;
	margin: 0px;
}

.logo {
	cursor: pointer;
}

.coders {
	color: rgb(92, 98, 249);
}

.links {
	gap: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 0.6px;
}

.link:hover {
	color: rgb(92, 98, 249);
}

.services {
	padding-right: 10px;
}
