@font-face {
	font-family: 'Stolzl';
	src: local('Stolzl'), url('../fonts/scraped/a28e96a6e58bd279-s.p.woff2');
}

html,
header,
body {
	all: unset;
	font-family: 'Stolzl';
	background: rgb(249, 246, 243);
}

body {
	overflow-y: scroll;
}

a {
	text-decoration: none;
}
